.grid-item {
  /* Position */
  aspect-ratio: 1 / 1;
  z-index: 1;
  font-size: 1em;
  container-type: inline-size;

  /* Appearance */
  border-radius: 1.5em;
  border: 5px solid indigo;

  /* Children */
  overflow: hidden;

  &:hover {
    --shadow-color: indigo;
    box-shadow:
      0 0 5px black,
      0 0 5px var(--shadow-color),
      0 0 10px var(--shadow-color),
      0 0 15px var(--shadow-color),
      0 0 30px var(--shadow-color),
      0 0 50px var(--shadow-color);
    border-color: yellow;
  }
}

.grid-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  --shadow-color: indigo;
  --shadow-color-2: purple;
  --text-shadow: 0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color),
    0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color),
    0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color),
    0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color),
    0 0 8px var(--shadow-color), 0 0 8px var(--shadow-color), 0 0 12px var(--shadow-color-2),
    0 0 12px var(--shadow-color-2), 0 0 12px var(--shadow-color-2);

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .top-left {
    /* Position */
    position: absolute;
    left: 0.3em;
    top: 0;

    /* Appearance */
    font-size: 11cqw;

    .number {
      &.el-front {
        color: LightSkyBlue;
      }

      &.el-back {
        text-shadow: var(--text-shadow);
      }
    }
  }

  .bottom-left {
    /* Position */
    position: absolute;
    bottom: 0;
    left: 0.3em;

    /* Appearance */
    font-size: 10cqw;

    &.caption {
      margin-left: 0.3em;
      .el-back {
        text-shadow: var(--text-shadow);
      }
    }

    .title {
      color: violet;
      font-weight: bold;
      line-height: 1em;
    }

    .subtitle {
      color: pink;
    }

    .type {
      font-weight: initial;
      font-size: 80%;
    }
  }

  .bottom-right {
    /* Position */
    position: absolute;
    right: 0.3em;
    bottom: 0.2em;

    /* Appearance */
    font-size: 10cqw;

    > * {
      float: right;
    }

    .price {
      &.el-front {
        color: LightSkyBlue;
      }

      &.el-back {
        text-shadow: var(--text-shadow);
      }
    }

    .sold-out {
      font-style: italic;

      &.el-front {
        color: orange;
      }

      &.el-back {
        text-shadow: var(--text-shadow);
      }
    }
  }
}
