header {
  position: relative;
  display: block;
  width: 100%;
  --text-border-radius: 0.8em;
}

#header-logo-img {
  /* Position */
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 180px;
  max-width: calc(100% - 20px); /* otherwise, extends past viewport when narrow (mobile) */
  padding-top: 5px;
  margin-bottom: -8px;

  /* Appearance - Glow */
  filter: drop-shadow(0 0 30px rgb(47, 0, 80)) drop-shadow(0 0 50px black)
    drop-shadow(0 0 30px black);

  @media (max-width: 1500px) {
    max-width: calc(85%);
  }
}

.custom-dialog {
  width: 300px;
  line-height: 2em;

  a {
    color: lime !important;
    border-radius: 1em;
    padding: 0.2em 0.5em;
    background-color: indigo;

    &:hover {
      background-color: purple;
    }
  }
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding-top: 0.1em;

  .button {
    width: 8em;

    &.el-front {
      background-color: black;

      &:hover {
        border-color: yellow !important;
        box-shadow: 0 0 40px yellow;
      }

      &#designed {
        border-color: cyan;
        color: cyan;
      }

      &#custom {
        border-color: orange;
        color: orange;
      }
    }

    &.el-back {
      --shadow-color: rgb(47, 0, 80);
      box-shadow:
        0 0 5px var(--shadow-color),
        0 0 10px var(--shadow-color),
        0 0 10px var(--shadow-color),
        0 0 10px var(--shadow-color),
        0 0 10px var(--shadow-color),
        0 0 10px var(--shadow-color),
        0 0 10px var(--shadow-color),
        0 0 15px var(--shadow-color),
        0 0 15px var(--shadow-color),
        0 0 15px var(--shadow-color),
        0 0 15px var(--shadow-color),
        0 0 15px var(--shadow-color),
        0 0 30px var(--shadow-color),
        0 0 50px var(--shadow-color);
    }
  }
}

#header-right {
  /* Position */
  position: absolute;
  right: 100px;
  bottom: 0px;

  /* Appearance */
  text-align: right;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1500px) {
    /* Position */
    position: relative;
    margin: 0.7em auto;
    right: auto;
    line-height: 1em;

    /* Appearance */
    text-align: center;

    #social-links-wrapper {
      #connect {
        /* Position */
        position: absolute;
        left: 50%;
        max-width: 4em;
        text-align: right;
        margin: 0;

        /* Appearance */
        color: Aquamarine;
        font-style: italic;
        transform: translateX(-10.1em) translateY(0.75em);
      }
    }
  }
}

#social-links-wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;

  #connect {
    /* Position */
    display: inline-block;
    margin-bottom: 0.3em;

    /* Appearance */
    color: Aquamarine;
    font-style: italic;

    .el-back {
      --shadow-size-1: 0.8em;
      --shadow-color-1: rgb(47, 0, 80);
      --shadow-size-2: 1em;
      --shadow-color-2: black;
      text-shadow:
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-1) var(--shadow-color-1),
        0 0 var(--shadow-size-2) var(--shadow-color-2),
        0 0 var(--shadow-size-2) var(--shadow-color-2),
        0 0 var(--shadow-size-2) var(--shadow-color-2),
        0 0 var(--shadow-size-2) var(--shadow-color-2),
        0 0 var(--shadow-size-2) var(--shadow-color-2);
    }
  }

  #social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

    .circle {
      /* Potition (Centered) */
      --circle-size: 3em;
      height: var(--circle-size);
      width: var(--circle-size);

      /* Appearance */
      border: 5px solid black;
      box-shadow: 0 0 30px black;
      transition: 0.1s;

      svg {
        font-size: 2em;
      }

      &:hover {
        box-shadow: 0 0 40px yellow;

        svg {
          font-size: 2.2em;
        }
      }
    }
  }
}

#bio {
  /* Position */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  /* Appearance */
  font-family: 'Outfit', sans-serif;
  font-size: 1.2em;
  text-wrap: balance;

  p {
    /* Space between paragraphs */
    &:not(:last-child) {
      margin-bottom: 0.2em;
    }

    /* SVGs around paragraph */
    svg {
      --icon-padding: 0.4em;

      &:first-of-type {
        padding-right: var(--icon-padding);
      }

      &:last-of-type {
        padding-left: var(--icon-padding);
      }
    }
  }

  #location {
    font-size: 1em;
    transform: translateX(-0.2em); /* Ignore icon when centering, looks better*/
  }

  .el-front {
    p {
      color: Violet;
    }

    #location {
      color: LightSkyBlue !important;
    }
  }

  .el-back {
    --shadow-size-1: 0.8em;
    --shadow-color-1: rgb(47, 0, 80);
    --shadow-size-2: 1em;
    --shadow-color-2: black;
    text-shadow:
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-1) var(--shadow-color-1),
      0 0 var(--shadow-size-2) var(--shadow-color-2),
      0 0 var(--shadow-size-2) var(--shadow-color-2),
      0 0 var(--shadow-size-2) var(--shadow-color-2),
      0 0 var(--shadow-size-2) var(--shadow-color-2),
      0 0 var(--shadow-size-2) var(--shadow-color-2);

    .icon {
      color: LightSkyBlue !important;
      --shadow-size-1: 0.2em;
      filter: drop-shadow(0 0 var(--shadow-size-1) var(--shadow-color-1))
        drop-shadow(0 0 var(--shadow-size-1) var(--shadow-color-1))
        drop-shadow(0 0 var(--shadow-size-1) var(--shadow-color-1))
        drop-shadow(0 0 var(--shadow-size-1) var(--shadow-color-1))
        drop-shadow(0 0 var(--shadow-size-1) var(--shadow-color-1));
      transform: translateZ(0);
    }
  }
}
