.order-dialog {
  width: 300px;
  font-size: 1.2em;

  .order-dialog-body {
    text-align: center;
  }

  .number {
    color: grey;
    margin-left: 0.4em;
    font-size: 0.8em;
    font-style: italic;
  }

  .title {
    font-weight: bolder;
    font-size: 1.5em;
  }

  .type {
    font-size: 90%;
  }

  .modal-header {
    align-items: start;
  }

  img {
    border-radius: 1em;
    max-width: 100%;
  }

  .links {
    /* Position */
    display: grid;
    justify-content: center;
    gap: 2px;
    margin-top: 0.5em;

    /* Appearance */
    font-size: 1.2em;
    font-weight: bold;

    .button {
      border: 4px solid black;
      width: 8em;
      padding: 0.3em;

      &:hover {
        box-shadow:
          0 0 10px indigo,
          0 0 40px indigo;
        border: 4px solid yellow;
      }
    }
  }
}
